<a href="https://colab.research.google.com/github/karrthikmohank/PythonPrograms/blob/main/DictionaryAssignmentSolutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

In [2]:
print("Initialize a dictionary "emp_info" with below details")
emp_info = {'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '\$10,000']
# emp2_val = ['Smith', 'SG102', '\$9,000']
# emp3_val = ['Peter', 'SG103', '\$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':\$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':\$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':\$9,500}}

In [4]:
print("Create a dictionary out of below inputs")
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

employee_details = {lst1[0]:{emp_key[0]:emp1_val[0],emp_key[1]:emp1_val[1],emp_key[2]:emp1_val[2]},\
                    lst1[1]:{emp_key[0]:emp2_val[0],emp_key[1]:emp2_val[1],emp_key[2]:emp2_val[2]},\
                    lst1[2]:{emp_key[0]:emp3_val[0],emp_key[1]:emp3_val[1],emp_key[2]:emp3_val[2]}}
print(employee_details)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

# Access the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [5]:
print("Access the value of key 'history")
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['marks']['history'])

80

# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

In [7]:
print("Initialize dictionary with default values.")
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
employee_details = {}
employee_details.setdefault('Kelly',defaults)
employee_details.setdefault('Emma',defaults)
employee_details.setdefault('John',defaults)
print(employee_details)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

In [11]:
print("Function that returns the mRNA transcript given the sequence of a DNA strand.")
def mRNATranscription(dnaStrand):
  dna2rna = {'A':'U','T':'A','C':'G','G':'C'}
  rna = ""
  for bases in dnaStrand:
    rna += dna2rna[bases]
  return rna

print(mRNATranscription("GCATCGGCACCCTTTCAGCA"))

CGUAGCCGUGGGAAAGUCGU

# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [13]:
print("Function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.")
def count_letter(word):
  dict_map = {}
  for letters in word:
    if letters not in dict_map:
      dict_map.setdefault(letters,1)
    else:
      value = dict_map.get(letters)
      value += 1
      dict_map[letters] = value
  return dict_map

print("In - count_letter('google.com')")
print("Out - "+str(count_letter('google.com')))

In - count_letter('google.com')
Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

In [20]:
print("Function that computes the base composition of a given DNA sequence.")
def baseComposition(dnaSequence):
  dnaStrand = {'A':0,'T':0,'C':0,'G':0}  
  for bases in dnaSequence:    
    values = dnaStrand.get(bases)
    values += 1
    dnaStrand[bases] = values
  return dnaStrand

print('In - baseComposition("CTATCGGCACCCTTTCAGCA")')
print("Out - "+str(baseComposition("CTATCGGCACCCTTTCAGCA")))
print('In - baseComposition("AGT")')
print("Out - "+str(baseComposition("AGT")))

Function that computes the base composition of a given DNA sequence.
In - baseComposition("CTATCGGCACCCTTTCAGCA")
Out - {'A': 4, 'T': 5, 'C': 8, 'G': 3}
In - baseComposition("AGT")
Out - {'A': 1, 'T': 1, 'C': 0, 'G': 1}

# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

# Ans- Option (5) - None of the above.

In [21]:
d = {}
d = {"Name": "Tom" }
print(d)

{'Name': 'Tom'}

In [22]:
d = {}
d["Name"] = "Tom"
print(d)

{'Name': 'Tom'}

In [23]:
d = {}
d.update({"Name": "Tom" })
print(d)

{'Name': 'Tom'}

In [24]:
d = {}
d.setdefault("Name", "Tom")
print(d)

{'Name': 'Tom'}

# [MCQ]* d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

# Ans- Option (5) - None of the above
# Option (2) - d.values() - returns dict_values([1,2]) not list [1,2]

In [31]:
d = {"a":1, "b":2}
print(d.keys())

dict_keys(['a', 'b'])
dict_keys(['a', 'b'])

In [33]:
d = {"a":1, "b":2}
print(d.values())

dict_values([1, 2])

In [28]:
d = {"a":1, "b":2}
print(d.items())

dict_items([('a', 1), ('b', 2)])

In [29]:
d = {"a":1, "b":2}
print(d.popitem())

('b', 2)

# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

# Option - (3) - d = { ["First", "Last"]: (1,3) }
# TypeError: unhashable type: 'list'

In [34]:
d = {"Name": "Tom" }
print(type(d))

<class 'dict'>

In [35]:
d = { (1,3,4): 4.5 }
print(type(d))

<class 'dict'>

In [36]:
d = { ["First", "Last"]: (1,3) }
print(type(d))

TypeError: ignored

In [37]:
d = { 1: 0.4 }
print(type(d))

<class 'dict'>

# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

In [55]:
print("Function reverseLookup(dictionary, value) that takes in a dictionary and a value as arguments and returns a sorted list of all keys that contains the value.")

def reverseLookup(input_dict,inputValue):  
  outputList = []  
  for dictKeys,dictValues in input_dict.items():        
    if dictValues == inputValue:      
      outputList.append(dictKeys)
      outputList.sort()      
  return outputList

print("In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)")
print("Out - "+str(reverseLookup({'a':1, 'b':2, 'c':2}, 1)))
print("In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)")
print("Out - "+str(reverseLookup({'a':1, 'b':2, 'c':2}, 2)))
print("In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)")
print("Out - "+str(reverseLookup({'a':1, 'b':2, 'c':2}, 3)))

Function reverseLookup(dictionary, value) that takes in a dictionary and a value as arguments and returns a sorted list of all keys that contains the value.
In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
Out - ['a']
In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
Out - ['b', 'c']
In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
Out - []

# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [62]:
print("function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.")

def invertDictionary(input_dict):  
  outputDict = {}  
  for dictKeys,dictValues in input_dict.items():        
    if dictValues not in outputDict:      
      outputDict.setdefault(dictValues,[dictKeys])
    else:       
      valueList = outputDict[dictValues]
      valueList.append(dictKeys)      
      outputDict[dictValues] = valueList
  return outputDict

print("In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})")
print("Out - "+str(invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})))
print("In - invertDictionary({'a':3, 'b':3, 'c':3})")
print("Out - "+str(invertDictionary({'a':3, 'b':3, 'c':3})))
print("In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})")
print("Out - "+str(invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})))

function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
In - invertDictionary({'a':3, 'b':3, 'c':3})
Out - {3: ['a', 'b', 'c']}
In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
Out - {2: ['a', 'c'], 1: ['b', 'd']}

# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

In [63]:
print("Function that converts a sparse vector into a dictionary")

def convertVector(inputList):
  outputDict = {}
  for cnt in range(len(inputList)):
    if inputList[cnt] != 0:
      outputDict[cnt] = inputList[cnt] 
  return outputDict
print("In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])")
print("Out - "+str(convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])))
print("In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])")
print("Out - "+str(convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])))
print("In - convertVector([0, 0, 0, 0, 0])")
print("Out - "+str(convertVector([0, 0, 0, 0, 0])))

Function that converts a sparse vector into a dictionary
In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
Out - {0: 1, 3: 2, 7: 3, 12: 4}
In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
In - convertVector([0, 0, 0, 0, 0])
Out - {}

# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

In [77]:
print("Function that converts a dictionary back to its sparse vector representation")

def convertDictionary(inputDict):  
  if inputDict != {}:
    outputList = [0]*(max(inputDict.keys())+1)
  else:
    outputList = []
  
  for keys,values in inputDict.items():
    outputList[keys] = values
  return outputList
print("In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})")
print("Out - "+str(convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})))
print("In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})")
print("Out - "+str(convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})))
print("In - convertDictionary({})")
print("Out - "+str(convertDictionary({})))

Function that converts a dictionary back to its sparse vector representation
In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
In - convertDictionary({})
Out - []

# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

In [78]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

In [81]:
sampleDict = {
'Physics': 82,
'Math': 65,
'history': 75
}

minValue = min(sampleDict.values())
for keys,value in sampleDict.items():
  if value == minValue:
    print(keys)
    break

Math

# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

# Using pop function

In [87]:
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict['location'] = "New york"
sampleDict.pop("city")
print("Expected Output")
print(sampleDict)

Expected Output
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

# Without using dictionary methods - pop()

In [88]:
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict['location'] = "New york"
outputDict = {}
for key, value in sampleDict.items():
  if key != 'city':
    outputDict[key] = value
print("Expected Output")
print(outputDict)

Expected Output
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

In [96]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
valueFound = False
for key,value in sampleDict.items():
  if value == 200:
    valueFound = True
    print("Expected Output: "+str(True))
    break
if valueFound == False:
  print("Value not found!!!")

Expected Output: True

# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

In [97]:
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
keysToRemove = ["name", "salary"]
outputDict = {}
for key, value in sampleDict.items():
  if key not in keysToRemove:
    outputDict[key] = value
print("Expected Output")
print(outputDict)

Expected Output
{'age': 25, 'city': 'New york'}