<a href="https://colab.research.google.com/github/karrthikmohank/PythonPrograms/blob/main/PandasAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [ ]:
import pandas as pd
ds = pd.Series([1,2,3,4,5])
print(ds)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Write a Python program to convert a Pandas module Series to Python list and its type.

In [52]:
import pandas as pd
ds = pd.Series([1,2,3,4,5])
print("Input: Pandas series")
print(ds)
print("Type: ",type(ds))
lst1 = ds.tolist()
print("Output: List")
print(lst1)
print("Type: ",type(lst1))

Input: Pandas series
0    1
1    2
2    3
3    4
4    5
dtype: int64
Type:  <class 'pandas.core.series.Series'>
Output: List
[1, 2, 3, 4, 5]
Type:  <class 'list'>

# Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [53]:
import pandas as pd
ds1 = pd.Series([1,2,3,4,5])
ds2 = pd.Series([5,6,7,8,9])
addResult = ds1 + ds2
print("Addition of two Pandas Series ")
print(addResult)
subResult = ds1 - ds2
print("Subtraction of two Pandas Series ")
print(subResult)
multiplyResult = ds1 * ds2
print("Multiplication of two Pandas Series ")
print(multiplyResult)
divisionResult = ds1/ds2
print("Division of two Pandas Series ")
print(divisionResult)

Addition of two Pandas Series
0     6
1     8
2    10
3    12
4    14
dtype: int64
Subtraction of two Pandas Series
0   -4
1   -4
2   -4
3   -4
4   -4
dtype: int64
Multiplication of two Pandas Series
0     5
1    12
2    21
3    32
4    45
dtype: int64
Division of two Pandas Series
0    0.200000
1    0.333333
2    0.428571
3    0.500000
4    0.555556
dtype: float64

# Write a Python program to compare the elements of the two Pandas Series.

In [13]:
import pandas as pd
ds1 = pd.Series([1,2,3,4,5])
ds2 = pd.Series([5,6,7,8,9])
print("Input Series - 1:")
print(ds1)
print("Input Series - 2:")
print(ds2)
print("Compare the elements of the two Pandas Series: ")
print("Equality condition")
print(ds1 == ds2)
print("Greater than condition")
print(ds1 > ds2)
print("Greater than or equal to condition")
print(ds1 >= ds2)
print("Less than condition")
print(ds1 < ds2)
print("Lesser than or equal to condition")
print(ds1 <= ds2)

Input Series - 1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Input Series - 2:
0    5
1    6
2    7
3    8
4    9
dtype: int64
Compare the elements of the two Pandas Series:
Equality condition
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than condition
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than or equal to condition
0    False
1    False
2    False
3    False
4    False
dtype: bool
Less than condition
0    True
1    True
2    True
3    True
4    True
dtype: bool
Lesser than or equal to condition
0    True
1    True
2    True
3    True
4    True
dtype: bool

# Write a Python program to display the following data column wise.

In [15]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Marks":[90,55,67]}
df = pd.DataFrame(data)
print(df)

    Id   Name  Marks
0  101  James     90
1  102  Clark     55
2  103   Jill     67

# Write a Python program to create and display a Data Frame from a specified dictionary data which has the index labels.

In [17]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Marks":[90,55,67],"Attempts":[1,3,2],"Qualify":["Y","N","Y"]}
labels = ['a','b','c']
df = pd.DataFrame(data,labels)
print(df)

    Id   Name  Marks  Attempts Qualify
a  101  James     90         1       Y
b  102  Clark     55         3       N
c  103   Jill     67         2       Y

# Write a Python program to select the specified columns and rows from a given Data Frame.

In [30]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Marks":[90,55,67],"Attempts":[1,3,2],"Qualify":["Y","N","Y"]}
labels = ['a','b','c']
df = pd.DataFrame(data,labels)
print("Displaying first two rows of the data frame-Using iloc method")
print(df.iloc[:2])
print("\n")
print("Displaying first row of the data frame-Using loc method")
print(df.loc[:'a'])
print("\n")
print("Displaying Name and Marks columns of the data frame-Using loc method")
print(df[['Name','Marks']])
print("\n")
print("Displaying specified columns and rows of the data frame")
print(df[['Name','Marks']].iloc[[1]])

Displaying first two rows of the data frame-Using iloc method
    Id   Name  Marks  Attempts Qualify
a  101  James     90         1       Y
b  102  Clark     55         3       N


Displaying first row of the data frame-Using loc method
    Id   Name  Marks  Attempts Qualify
a  101  James     90         1       Y


Displaying Name and Marks columns of the data frame-Using loc method
    Name  Marks
a  James     90
b  Clark     55
c   Jill     67


Displaying specified columns and rows of the date frame
    Name  Marks
b  Clark     55

# Write a Python program to select the rows the score is between 15 and 20 (inclusive).

In [38]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Score":[15, 9, 20],"Attempts":[1,3,2],"Qualify":["Y","N","Y"]}
labels = ['a','b','c']
df = pd.DataFrame(data,labels)
print(df[(df['Score'] >= 15) & (df['Score'] <= 20) ])

    Id   Name  Score  Attempts Qualify
a  101  James     15         1       Y
c  103   Jill     20         2       Y

# Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [39]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Score":[16, 9, 20],"Attempts":[1,3,2],"Qualify":["Y","N","Y"]}
labels = ['a','b','c']
df = pd.DataFrame(data,labels)
print(df[(df['Attempts'] < 2) & (df['Score'] > 15) ])

    Id   Name  Score  Attempts Qualify
a  101  James     16         1       Y

# Write a Python program to append a new row 'k' to Data Frame with given values for each column. Now delete the new row and return the original data frame.

In [44]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Score":[16, 9, 20],"Attempts":[1,3,2],"Qualify":["Y","N","Y"]}
labels = ['a','b','c']
df = pd.DataFrame(data,labels)
df.loc['k'] = {'Id':104,'Name' : "Jack", 'Score': 15.5, 'Attempts': 1, 'Qualify': "Y"}
print("Dataframe with new row added: ")
print(df)
print("\n")
print("Original dataframe:")
df.drop('k', inplace=True)
print(df)

Dataframe with new row added:
    Id   Name  Score  Attempts Qualify
a  101  James   16.0         1       Y
b  102  Clark    9.0         3       N
c  103   Jill   20.0         2       Y
k  104   Jack   15.5         1       Y


Original dataframe:
    Id   Name  Score  Attempts Qualify
a  101  James   16.0         1       Y
b  102  Clark    9.0         3       N
c  103   Jill   20.0         2       Y

# Write a Python program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order.

In [45]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Score":[16, 9, 20],"Attempts":[1,3,2],"Qualify":["Y","N","Y"]}
labels = ['a','b','c']
df = pd.DataFrame(data,labels)
df.sort_values('Name', ascending=False, inplace=True)
print("Sorting dataframe by 'name' in descending order")
print(df)
print("\n")
print("Sorting dataframe by 'Score' in ascending order")
df.sort_values('Score', inplace=True)
print(df)

Sorting dataframe by 'name' in descending order
    Id   Name  Score  Attempts Qualify
c  103   Jill     20         2       Y
a  101  James     16         1       Y
b  102  Clark      9         3       N


Sorting dataframe by 'Score' in ascending order
    Id   Name  Score  Attempts Qualify
b  102  Clark      9         3       N
a  101  James     16         1       Y
c  103   Jill     20         2       Y

# Write a Python program to insert a new column in existing DataFrame.

In [50]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Score":[16, 9, 20],"Attempts":[1,3,2],"Qualify":["Y","N","Y"]}
labels = ['a','b','c']
df = pd.DataFrame(data,labels)
print("Original dataframe:")
print(df)
print("\n")
df['Age'] = None
print(df)

Original dataframe:
    Id   Name  Score  Attempts Qualify
a  101  James     16         1       Y
b  102  Clark      9         3       N
c  103   Jill     20         2       Y


    Id   Name  Score  Attempts Qualify   Age
a  101  James     16         1       Y  None
b  102  Clark      9         3       N  None
c  103   Jill     20         2       Y  None

# Write a Python program to change the name 'James' to 'Suresh' in name column of the data frame.

In [51]:
import pandas as pd
data = {"Id" : [101,102,103],"Name" : ["James","Clark","Jill"],"Score":[16, 9, 20],"Attempts":[1,3,2],"Qualify":["Y","N","Y"]}
labels = ['a','b','c']
df = pd.DataFrame(data,labels)
print("Original dataframe:")
print(df)
print("\n")
df.replace({'Name': {'James': 'Suresh'}}, inplace=True)
print(df)

Original dataframe:
    Id   Name  Score  Attempts Qualify
a  101  James     16         1       Y
b  102  Clark      9         3       N
c  103   Jill     20         2       Y


    Id    Name  Score  Attempts Qualify
a  101  Suresh     16         1       Y
b  102   Clark      9         3       N
c  103    Jill     20         2       Y